[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pCloud startup script
Exec=/home/doubledup/.local/bin/pcloud
StartupNotify=false
Terminal=false
