[Desktop Entry]
Type=Application
Exec=system76-power profile battery
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Power profile
Name=Power profile
Comment[en_US]=Set System76 power profile
Comment=Set System76 power profile
