{:simlayers {
 :window-mode {:key :f}
 :space-mode {:key :spacebar}}
 :templates {:launch "open -g hammerspoon://open%s"}
 :main [
        {:des   "caps lock: hold for control, tap for escape."
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des   "left shift: hold for shift, tap for backspace."
         :rules [[:##left_shift :left_shift nil {:alone :return_or_enter}]]}
        {:des   "tab: hold for option, tap for tab."
         :rules [[:##tab :left_option nil {:alone :tab}]]}
        {:des   "right command: hold for right command, tap for enter"
         :rules [[:##right_command :right_command nil {:alone :delete_or_backspace}]]}
        ; {:des   "open bracket: hold for left option, tap for open bracket"
        ;  :rules [[:##open_bracket :left_option nil {:alone :open_bracket}]]}
        ; {:des   "single quote: hold for left control, tap for single quote"
        ;  :rules [[:##quote :left_control nil {:alone :quote}]]}
        {:des   "right shift: hold for right shift, tap for caps lock"
         :rules [[:##right_shift :right_shift nil {:alone :caps_lock}]]}
        ; {:des   "Control: hold for 'Hyper Key', tap for Caps Lock."
        ;  :rules [[:##left_control [:left_control :left_option :left_command :left_shift] nil {:alone :caps_lock}]]}
        {:des   "Space mode: arrows, return, etc."
         :rules [:space-mode
                 [:##j :left_arrow :space-mode]
                 [:##k :down_arrow :space-mode]
                 [:##i :up_arrow :space-mode]
                 [:##l :right_arrow :space-mode]
                 ]}
        {:des   "Window mode: switch to common applications"
         :rules [:window-mode
                 [:##j [:launch "Browser"] :window-mode]
                 [:##k [:launch "Kitty"] :window-mode]
                 [:##l [:launch "Slack"] :window-mode]
                 [:##i [:launch "Signal"] :window-mode]
                 [:##m [:launch "Spotify"] :window-mode]
                 [:##semicolon [:launch "Emacs"] :window-mode]
                 ]}
       ]
}
