{:simlayers {
         :space-mode {:key :spacebar}
         :backtick-mode {:key :grave_accent_and_tilde}
 }
 :templates {:hammerspoon "open -g hammerspoon://%s"}
 :main [
        ; {:des   "caps lock: hold for control, tap for escape."
        ;  :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des   "right shift: hold for right shift, tap for caps lock"
         :rules [[:##right_shift :right_shift nil {:alone :caps_lock}]]}
        {:des   "control-m to enter"
         :rules [[:!Tm :return_or_enter]]}
        {:des   "`-m to control-m, just in case 😉"
         :rules [:backtick-mode [:##m :!Tm :backtick-mode]]}
        {:des   "Space mode: arrows, return, etc."
         :rules [:space-mode
                 [:##i :up_arrow :space-mode]
                 [:##j :left_arrow :space-mode]
                 [:##k :down_arrow :space-mode]
                 [:##l :right_arrow :space-mode]
                 ]}
       ]
}
